In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline 
#pip install openpyxl

In [2]:
df = pd.read_csv('diabetes_prediction.csv') 
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [3]:
print("\nการตรวจสอบค่า missing ถ้าแสดงผลเป็น 0 แสดงว่าไม่มีข้อมูล missing:")
print(df.isnull().sum())

การตรวจสอบค่า missing ถ้าแสดงผลเป็น 0 แสดงว่าไม่มีข้อมูล missing:
gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [4]:
print("\nประเภทของข้อมูล int64 เลขจำนวนเต็ม object ข้อมูลประเภทแบ่งกลุ่ม float ข้อมูลจุดทศนิยม:")
print(df.dtypes)

ประเภทของข้อมูล int64 เลขจำนวนเต็ม object ข้อมูลประเภทแบ่งกลุ่ม float ข้อมูลจุดทศนิยม:
gender                  object
age                    float64
hypertension             int64
heart_disease            int64
smoking_history         object
bmi                    float64
HbA1c_level            float64
blood_glucose_level      int64
diabetes                 int64
dtype: object

คำสั่งดูข้อมูลในแต่ละคอลัมน์ว่ามี class อะไรบ้าง

In [5]:
cat_cols = df.select_dtypes(include=['object','int64','float64']).columns
for col in cat_cols:
    print(f"{col}:", df[col].unique())

gender: ['Female' 'Male' 'Other']
age: [80.   54.   28.   36.   76.   20.   44.   79.   42.   32.   53.   78.
 67.   15.   37.   40.    5.   69.   72.    4.   30.   45.   43.   50.
 41.   26.   34.   73.   77.   66.   29.   60.   38.    3.   57.   74.
 19.   46.   21.   59.   27.   13.   56.    2.    7.   11.    6.   55.
  9.   62.   47.   12.   68.   75.   22.   58.   18.   24.   17.   25.
  0.08 33.   16.   61.   31.    8.   49.   39.   65.   14.   70.    0.56
 48.   51.   71.    0.88 64.   63.   52.    0.16 10.   35.   23.    0.64
  1.16  1.64  0.72  1.88  1.32  0.8   1.24  1.    1.8   0.48  1.56  1.08
  0.24  1.4   0.4   0.32  1.72  1.48]
hypertension: [0 1]
heart_disease: [1 0]
smoking_history: ['never' 'No Info' 'current' 'former' 'ever' 'not current']
bmi: [25.19 27.32 23.45 ... 59.42 44.39 60.52]
HbA1c_level: [6.6 5.7 5.  4.8 6.5 6.1 6.  5.8 3.5 6.2 4.  4.5 9.  7.  8.8 8.2 7.5 6.8]
blood_glucose_level: [140  80 158 155  85 200 145 100 130 160 126 159  90 260 220 300 280 240]
diabetes: [0 1]

In [6]:
df['gender'].unique()
df['gender'] = df['gender'].map({'Female': 0, 'Male': 1, 'Other': 2})
df['smoking_history'].unique()
df['smoking_history'] = df['smoking_history'].map({'never': 0, 'No Info': 1, 'current': 2, 'former': 3, 'ever': 4, 'not current': 5})

df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,0,25.19,6.6,140,0
1,0,54.0,0,0,1,27.32,6.6,80,0
2,1,28.0,0,0,0,27.32,5.7,158,0
3,0,36.0,0,0,2,23.45,5.0,155,0
4,1,76.0,1,1,2,20.14,4.8,155,0

คำสั่งดูข้อมูลตัวเลขในแต่ละ class ของแต่ละคอลัมน์ว่ามีจำนวนเท่าไร

In [7]:
for col in cat_cols:
    print(df[col].value_counts(), "\n")

gender
0    58552
1    41430
2       18
Name: count, dtype: int64

age
80.00    5621
51.00    1619
47.00    1574
48.00    1568
53.00    1542
         ...
0.48       83
1.00       83
0.40       66
0.16       59
0.08       36
Name: count, Length: 102, dtype: int64

hypertension
0    92515
1     7485
Name: count, dtype: int64

heart_disease
0    96058
1     3942
Name: count, dtype: int64

smoking_history
1    35816
0    35095
3     9352
2     9286
5     6447
4     4004
Name: count, dtype: int64

bmi
27.32    25495
23.00      103
27.12      101
27.80      100
24.96      100
         ...
58.23        1
48.18        1
55.57        1
57.07        1
60.52        1
Name: count, Length: 4247, dtype: int64

HbA1c_level
6.6    8540
5.7    8413
6.5    8362
5.8    8321
6.0    8295
6.2    8269
6.1    8048
3.5    7662
4.8    7597
4.5    7585
4.0    7542
5.0    7471
8.8     661
8.2     661
9.0     654
7.5     643
6.8     642
7.0     634
Name: count, dtype: int64

blood_glucose_level
130    7794
159    7759
140    7732
160    7712
126    7702
145    7679
200    7600
155    7575
90     7112
80     7106
158    7026
100    7025
85     6901
280     729
300     674
240     636
260     635
220     603
Name: count, dtype: int64

diabetes
0    91500
1     8500
Name: count, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  int64
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  int64
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(6)
memory usage: 6.9 MB

คำสั่งแปลง object ให้เป็นตัวแปร dummy คือ 0, 1, 2, 3, 4, ...

In [9]:
from sklearn.preprocessing import LabelEncoder

label_encoders = {}
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].astype(str)
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

คำสั่งให้แสดงข้อมูลทุกแถวและทุกคอลัมน์

In [10]:
# #ตั้งค่าให้แสดงทั้งหมดทั้งแถวและคอลัมน์
# print(df.to_string())

# # ตั้งค่าให้แสดงทุกแถว
# pd.set_option('display.max_rows', None)

# ตั้งค่าให้แสดงทุกคอลัมน์
pd.set_option('display.max_columns', None)

In [11]:
df.round(2)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,0,25.19,6.6,140,0
1,0,54.0,0,0,1,27.32,6.6,80,0
2,1,28.0,0,0,0,27.32,5.7,158,0
3,0,36.0,0,0,2,23.45,5.0,155,0
4,1,76.0,1,1,2,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,1,27.32,6.2,90,0
99996,0,2.0,0,0,1,17.37,6.5,100,0
99997,1,66.0,0,0,3,27.83,5.7,155,0
99998,0,24.0,0,0,0,35.42,4.0,100,0
99999,0,57.0,0,0,2,22.43,6.6,90,0

In [12]:
cat_cols = df.select_dtypes(include='object').columns
for col in cat_cols:
    print(f"{col}:", df[col].unique())
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,0,25.19,6.6,140,0
1,0,54.0,0,0,1,27.32,6.6,80,0
2,1,28.0,0,0,0,27.32,5.7,158,0
3,0,36.0,0,0,2,23.45,5.0,155,0
4,1,76.0,1,1,2,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,1,27.32,6.2,90,0
99996,0,2.0,0,0,1,17.37,6.5,100,0
99997,1,66.0,0,0,3,27.83,5.7,155,0
99998,0,24.0,0,0,0,35.42,4.0,100,0
99999,0,57.0,0,0,2,22.43,6.6,90,0

In [13]:
print("\nการแสดงข้อมูลที่เป็นตัวแปร dummy:")
print(df.dtypes)

การแสดงข้อมูลที่เป็นตัวแปร dummy:
gender                   int64
age                    float64
hypertension             int64
heart_disease            int64
smoking_history          int64
bmi                    float64
HbA1c_level            float64
blood_glucose_level      int64
diabetes                 int64
dtype: object

In [14]:
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,0,25.19,6.6,140,0
1,0,54.0,0,0,1,27.32,6.6,80,0
2,1,28.0,0,0,0,27.32,5.7,158,0
3,0,36.0,0,0,2,23.45,5.0,155,0
4,1,76.0,1,1,2,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,1,27.32,6.2,90,0
99996,0,2.0,0,0,1,17.37,6.5,100,0
99997,1,66.0,0,0,3,27.83,5.7,155,0
99998,0,24.0,0,0,0,35.42,4.0,100,0
99999,0,57.0,0,0,2,22.43,6.6,90,0

In [15]:
print("\n การแสดงค่า count, mean, std, min, percentile และ max:")
print(df.describe().round(2))

 การแสดงค่า count, mean, std, min, percentile และ max:
          gender        age  hypertension  heart_disease  smoking_history  \
count  100000.00  100000.00     100000.00      100000.00        100000.00
mean        0.41      41.89          0.07           0.04             1.31
std         0.49      22.52          0.26           0.19             1.45
min         0.00       0.08          0.00           0.00             0.00
25%         0.00      24.00          0.00           0.00             0.00
50%         0.00      43.00          0.00           0.00             1.00
75%         1.00      60.00          0.00           0.00             2.00
max         2.00      80.00          1.00           1.00             5.00

             bmi  HbA1c_level  blood_glucose_level   diabetes
count  100000.00    100000.00            100000.00  100000.00
mean       27.32         5.53               138.06       0.08
std         6.64         1.07                40.71       0.28
min        10.01         3.50                80.00       0.00
25%        23.63         4.80               100.00       0.00
50%        27.32         5.80               140.00       0.00
75%        29.58         6.20               159.00       0.00
max        95.69         9.00               300.00       1.00

In [16]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'smoking_history',
       'bmi', 'HbA1c_level', 'blood_glucose_level', 'diabetes'],
      dtype='object')

In [17]:
print("\nแสดงข้อมูลจำนวน class หรือตัวแปร dummy ในแต่ละคอลัมน์:")
print(df.nunique())

แสดงข้อมูลจำนวน class หรือตัวแปร dummy ในแต่ละคอลัมน์:
gender                    3
age                     102
hypertension              2
heart_disease             2
smoking_history           6
bmi                    4247
HbA1c_level              18
blood_glucose_level      18
diabetes                  2
dtype: int64

In [18]:
print("ข้อมูลมีทั้งหมด:", df.shape[0],"แถว", "และมีคอลัมน์ทั้งหมด:", df.shape[1], "คอลัมน์")
print("ตรวจสอบข้อมูลแถวที่ซ้ำกัน พบว่าไม่มีข้อมูลซ้ำกัน:", df.duplicated().sum())

df_clean = df.drop_duplicates()

df.drop_duplicates(inplace=True)

print("เมื่อทำการ clean ข้อมูลแล้ว ไม่มีแถวที่ซ้ำกัน คือมีแถวทั้งหมด:", df.shape[0], "แถว", "และมีคอลัมน์ทั้งหมด:", df.shape[1], "คอลัมน์")
df

ข้อมูลมีทั้งหมด: 100000 แถว และมีคอลัมน์ทั้งหมด: 9 คอลัมน์
ตรวจสอบข้อมูลแถวที่ซ้ำกัน พบว่าไม่มีข้อมูลซ้ำกัน: 3854
เมื่อทำการ clean ข้อมูลแล้ว ไม่มีแถวที่ซ้ำกัน คือมีแถวทั้งหมด: 96146 แถว และมีคอลัมน์ทั้งหมด: 9 คอลัมน์

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,0,25.19,6.6,140,0
1,0,54.0,0,0,1,27.32,6.6,80,0
2,1,28.0,0,0,0,27.32,5.7,158,0
3,0,36.0,0,0,2,23.45,5.0,155,0
4,1,76.0,1,1,2,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99994,0,36.0,0,0,1,24.60,4.8,145,0
99996,0,2.0,0,0,1,17.37,6.5,100,0
99997,1,66.0,0,0,3,27.83,5.7,155,0
99998,0,24.0,0,0,0,35.42,4.0,100,0
99999,0,57.0,0,0,2,22.43,6.6,90,0

In [19]:
# X = df.iloc[:,:-1].values 
# y = df.iloc[:,-1].values 

X = df.drop('diabetes', axis=1)
y = df['diabetes']

In [20]:
X

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
0,0,80.0,0,1,0,25.19,6.6,140
1,0,54.0,0,0,1,27.32,6.6,80
2,1,28.0,0,0,0,27.32,5.7,158
3,0,36.0,0,0,2,23.45,5.0,155
4,1,76.0,1,1,2,20.14,4.8,155
...,...,...,...,...,...,...,...,...
99994,0,36.0,0,0,1,24.60,4.8,145
99996,0,2.0,0,0,1,17.37,6.5,100
99997,1,66.0,0,0,3,27.83,5.7,155
99998,0,24.0,0,0,0,35.42,4.0,100
99999,0,57.0,0,0,2,22.43,6.6,90

In [21]:
y

0        0
1        0
2        0
3        0
4        0
        ..
99994    0
99996    0
99997    0
99998    0
99999    0
Name: diabetes, Length: 96146, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=48, stratify=y)

In [23]:
from sklearn.svm import SVC
#model = SVC(kernel='linear')
#model = SVC(kernel='linear', probability=True)
#model = SVC(kernel='poly', degree=3, gamma='auto')
model = SVC(gamma='auto')
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
y_predict.reshape(-1, 1)

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], shape=(19230, 1))

In [24]:
X_test

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
97323,0,34.0,0,0,2,25.25,4.5,200
25041,0,34.0,0,0,0,28.31,5.7,159
95359,1,2.0,0,0,1,16.51,6.6,158
12006,1,49.0,0,0,1,27.98,6.6,80
20705,0,60.0,0,0,0,35.13,6.6,130
...,...,...,...,...,...,...,...,...
96613,0,63.0,0,0,0,27.32,6.0,200
25871,0,62.0,0,1,1,44.81,6.2,130
98251,0,24.0,0,0,0,27.46,4.0,140
88893,1,45.0,1,0,5,50.57,6.6,140
45275,0,5.0,0,0,0,17.30,5.7,158

In [25]:
#การป้อนข้อมูลพยากรณ์
pred1 = [[0,79.0,0,0,0,27.32,4.5,90],
         [1,20.0,0,0,0,27.32,6.0,126]]
         
df = model.predict(pred1)

i = 1
for m in range(len(df)):
    print('%d' %i, df[m])
    i += 1

1 0
2 0

C:\Users\LAB9210\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [26]:
#การบันทึกเก็บโมเดลไปใช้งานบนระบบดิจิทัล
#conda install -c anaconda scikit-learn
#pip install -U scikit-learn
#from sklearn.externals import joblib
# import numpy as np
# import joblib

# joblib.dump(model, 'diabetes_model.pkl')
# model = joblib.load('diabetes_model.pkl')

import joblib

# Save model
joblib.dump(model, 'diabetes_model.pkl')

['diabetes_model.pkl']

In [27]:
ypred = pd.DataFrame(y_predict)
data = ypred.rename(columns={0:'ข้อมูลพยากรณ์'})
data

       ข้อมูลพยากรณ์
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
19225              0
19226              0
19227              0
19228              0
19229              0

[19230 rows x 1 columns]

In [28]:
ytest = pd.DataFrame(y_test).reset_index()
data2 = ytest.rename(columns={'Species':'ข้อมูลจริง'})
dt = data2.drop(['index'], axis=1) #ลบคอลัมน์ index
dt

       diabetes
0             0
1             0
2             0
3             0
4             0
...         ...
19225         0
19226         0
19227         0
19228         0
19229         0

[19230 rows x 1 columns]

In [29]:
#ตารางเปรียบเทียบข้อมูลจริงและการพยากรณ์
#total.to_csv('data.csv')
#total.to_excel('data.xlsx')

total = pd.concat([dt,data],axis=1) #.round(0)
total

       diabetes  ข้อมูลพยากรณ์
0             0              0
1             0              0
2             0              0
3             0              0
4             0              0
...         ...            ...
19225         0              0
19226         0              0
19227         0              0
19228         0              0
19229         0              0

[19230 rows x 2 columns]

In [30]:
Xtest = X_test.reset_index()
ds = Xtest.drop(['index'], axis=1) #ลบคอลัมน์ index
sum = pd.concat([ds, total],axis=1) #.round(0)
sum

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,ข้อมูลพยากรณ์
0,0,34.0,0,0,2,25.25,4.5,200,0,0
1,0,34.0,0,0,0,28.31,5.7,159,0,0
2,1,2.0,0,0,1,16.51,6.6,158,0,0
3,1,49.0,0,0,1,27.98,6.6,80,0,0
4,0,60.0,0,0,0,35.13,6.6,130,0,0
...,...,...,...,...,...,...,...,...,...,...
19225,0,63.0,0,0,0,27.32,6.0,200,0,0
19226,0,62.0,0,1,1,44.81,6.2,130,0,0
19227,0,24.0,0,0,0,27.46,4.0,140,0,0
19228,1,45.0,1,0,5,50.57,6.6,140,0,0
19229,0,5.0,0,0,0,17.30,5.7,158,0,0

#### การสร้างไดอะแกรม SVM

In [ ]:
df = pd.read_csv('diabetes_prediction.csv')
df

In [ ]:
class_names = df['diabetes'].unique()
class_names

การประเมินโมเดลด้วย Confusion Matrix + Precision, Recall, F1

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, ConfusionMatrixDisplay
from sklearn.svm import SVC

# พยากรณ์ผล
y_pred = model.predict(X_test)

# Confusion Matrix
cm = confusion_matrix(y_test, y_pred)
disp = ConfusionMatrixDisplay(confusion_matrix=cm, display_labels=['Normal (0)', 'Diabetes (1)'])
disp.plot(cmap='Blues')
plt.title("Confusion Matrix")
plt.show()

# เทรนโมเดล
model = SVC(random_state=48, probability=True)
model.fit(X_train, y_train)

# ประเมินบน Test Set
y_pred = model.predict(X_test)
y_prob = model.predict_proba(X_test)[:, 1]

# print("Classification Report:\n", classification_report(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("ROC-AUC Score:", roc_auc_score(y_test, y_prob))
print(classification_report(y_test, y_pred, target_names=['Normal', 'Diabetes']))

การประเมินประสิทธิภาพของโมเดลด้วย 5-Fold Cross-Validation พร้อมตารางสรุป

In [ ]:
from sklearn.model_selection import cross_val_score
import numpy as np
import pandas as pd

# กำหนด metrics ที่ต้องการประเมิน
metrics = ['accuracy', 'precision', 'recall', 'f1']
cv_results = []

# ประเมินแต่ละ metric ด้วย cross-validation
for metric in metrics:
    scores = cross_val_score(model, X, y, cv=5, scoring=metric)
    result_row = {
        'Metric': metric,
        'Mean': np.round(scores.mean(), 3),
        'STD': np.round(scores.std(), 3),
    }
    # เพิ่มค่าของแต่ละ fold
    for i, score in enumerate(scores):
        result_row[f'Fold{i+1}'] = np.round(score, 3)
    
    cv_results.append(result_row)

# สร้าง DataFrame สรุปผล
cv_summary = pd.DataFrame(cv_results)

print("\n📊 5-Fold Cross-Validation Summary:")
print(cv_summary)

# ✅ คำนวณค่าเฉลี่ยความแม่นยำจาก Fold1–Fold5
# accuracy_row = cv_summary[cv_summary['Metric'] == 'accuracy']
fold_cols = ['Fold1', 'Fold2', 'Fold3', 'Fold4', 'Fold5']
# mean_accuracy = accuracy_row[fold_cols].mean(axis=1).values[0]
# print(f"\n📌 ค่าเฉลี่ยความแม่นยำจาก 5-Fold (Fold1–Fold5): {mean_accuracy:.3f}")

# สรุปค่าเฉลี่ย Fold1–Fold5 ของทุกแถว
for metric in ['accuracy', 'precision', 'recall', 'f1']:
    row = cv_summary[cv_summary['Metric'] == metric]
    mean_score = row[fold_cols].mean(axis=1).values[0]
    print(f"{metric.capitalize()} (Mean from Fold1–5): {mean_score:.3f}")

การสร้าง Learning Curve เพื่อตรวจสอบ Overfitting

In [ ]:
from sklearn.model_selection import learning_curve
import matplotlib.pyplot as plt
import numpy as np

# คำนวณค่า learning curve
train_sizes, train_scores, val_scores = learning_curve(
    model, X, y, cv=5, scoring='accuracy', train_sizes=np.linspace(0.1, 1.0, 10),
    shuffle=True  # ใช้ shuffle แทนการใส่ random_state
)

# คำนวณค่าเฉลี่ยและส่วนเบี่ยงเบนมาตรฐาน
train_mean = np.mean(train_scores, axis=1)
train_std = np.std(train_scores, axis=1)
val_mean = np.mean(val_scores, axis=1)
val_std = np.std(val_scores, axis=1)

# วาดกราฟ
plt.figure(figsize=(10, 6))
plt.plot(train_sizes, train_mean, 'o-', color="blue", label="Training Score")
plt.fill_between(train_sizes, train_mean - train_std, train_mean + train_std, alpha=0.1, color="blue")
plt.plot(train_sizes, val_mean, 'o-', color="green", label="Cross-Validation Score")
plt.fill_between(train_sizes, val_mean - val_std, val_mean + val_std, alpha=0.1, color="green")

# plt.plot(train_sizes, train_scores_mean, 'o--', color='blue', label='Training Score', alpha=0.7)

plt.xlabel("Training Set Size")
plt.ylabel("Accuracy")
plt.title("Learning Curve - Random Forest")
plt.legend(loc="best")
plt.grid(True)
plt.tight_layout()
plt.show()

การประเมินโมเดลด้วย ROC-AUC และ PR Curve

In [ ]:
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc, precision_recall_curve, average_precision_score

# พยากรณ์ค่าความน่าจะเป็น (probability)
y_proba = model.predict_proba(X_test)[:, 1]  # สำหรับคลาส 1 (เป็นมะเร็ง)

# ===============================
# ✅ 1. ROC Curve & ROC-AUC Score
# ===============================
fpr, tpr, _ = roc_curve(y_test, y_proba)
roc_auc = auc(fpr, tpr)

plt.figure(figsize=(8, 6))
plt.plot(fpr, tpr, color='darkorange', lw=2, label=f'ROC Curve (AUC = {roc_auc:.3f})')
plt.plot([0, 1], [0, 1], color='gray', linestyle='--', lw=1)
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver Operating Characteristic (ROC Curve)')
plt.legend(loc='lower right')
plt.grid(True)
plt.tight_layout()
plt.show()

# ===============================
# ✅ 2. Precision-Recall Curve
# ===============================
precision, recall, _ = precision_recall_curve(y_test, y_proba)
pr_auc = average_precision_score(y_test, y_proba)

plt.figure(figsize=(8, 6))
plt.plot(recall, precision, color='blue', lw=2, label=f'PR Curve (AUC = {pr_auc:.3f})')
plt.xlabel('Recall')
plt.ylabel('Precision')
plt.title('Precision-Recall (PR) Curve')
plt.legend(loc='lower left')
plt.grid(True)
plt.tight_layout()
plt.show()

# ===============================
# ✅ แสดงค่า AUC ทั้ง ROC และ PR
# ===============================
print(f"\n🎯 ROC-AUC Score: {roc_auc:.3f}")
print(f"🎯 PR-AUC (Average Precision): {pr_auc:.3f}")